html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'lato' , sans-serif;
    font-size: 62.5%;
}
body{
    background-image:url(../img/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.navigation{
    height: 7rem;
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    &__icon{
        width: 7rem;
        height: 7rem;
        margin: 2rem 0 0 2rem;
        
    }
}
.list{
    
    margin-right: 1rem;

    &__active{
        background-color: #777777;
        color: #e0e0e0 !important;
        padding: 1rem 2rem;
        border-radius: 3rem ;
        
    }

    &__item{
        font-size: 2rem;
        font-weight: 300;
        color: rgb(116, 116, 116);
        list-style: none;
        margin-right: 1rem;
        display: inline-block;
        transition: all .2s;
        padding: 2rem;
        &:not(:last-child):hover{

            background-color: #777777;
            color: #e0e0e0;
                padding: 1rem 2rem;
                border-radius: 3rem ;
                transform: translateY(1px);
            
        }

    }
    &__link{
        text-decoration: none;
        text-transform: uppercase;
        
    }
}
.header-part{
    position: absolute;
    top: 20%;
    left: 7%;
    width: 50%;
    &__main{
        font-size: 8rem;

    }
    &__sub{
        font-family: 'Dancing Script', cursive;
        font-size: 6rem;
        display: block;
        color: #1d29cf;
        margin-left: 8rem;

    }
    p{
        font-size: 2rem;
        width: 70%;
        margin-top: -5rem;

    }
    button{
        background-color: #bbbab4;

        border: none;
        padding: 1rem 1.5rem;
        border-radius: 5rem;
        margin: .5rem 0 0 2rem;
        transition: all .2s;
        box-shadow: 0 1rem 1rem rgba(rgba(0, 0, 0, 0.8) , .5);       
        a{
        color: #5c5858;
        font-weight: 500;
        font-family: sans-serif;
        font-size: 1.2rem;
        text-decoration: none;
        text-transform: uppercase;

       
        } 

        &:hover{
         transform: scale(1.1) translateY(-2px);  
         background-color: #777777;
         & a{
            color: #e0e0e0;
         }
        }
        &:focus{
            outline: none;
        }
    }
}

.container-1{
    position: absolute;
    top: 70%;
    right: 5%;
}

.container-2{
    position: absolute;
    top: 70%;
    right: 23%;
}

.side-box{
    &__image-1{
        background-image:url(../img/2.jpg);
        
    }
    &__image-2{
        background-image:url(../img/99.jpg);
        
    }
    background-position: center;
    background-color: #cccccc63;
    filter: bl;
    height: 17rem;
    width: 20rem;
    border-radius: 4rem;
    box-shadow: 1rem 2rem 1rem rgba(#000 , .5);
    position: relative;


    &__container{
        position: absolute;
        right:2rem;
        height: 7rem;
        bottom: -1rem;
        width: 80%;
        border-radius: 1rem;
        background-color: rgb(216, 213, 213);

        h3{
            position: absolute;
            transform: translateX(1.6rem) translateY(1.5rem);
            font-size: 2.5rem;
            letter-spacing: 2px;
            color: #1d29cf;
            font-size: 2rem;

        }
       
    }

    &__first-el{
        font-size: 1.2rem;
        font-weight: 500;
        text-transform: uppercase;
        color: #a7a7a7;
        position: absolute;
        transform: translateX(2rem) translateY(2rem);
        
        }
        &__second-el{
            font-size: 2.5rem;
            color: #1d29cf;
            position: absolute;
            bottom: 50%;
            right: 1rem;
        }
}

.popup{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50% , -50%);
    width: 70%;
    height: 70%;
    background-color: #fff;
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: opacity 500ms;


    &:target{
        visibility: visible;
        opacity: 1;
    }

    &:target & body {

    }

    &__image-side{
        height: 100%;
        width: 100%;
        overflow: hidden;
        flex: 2;
        background-image: url(../img/blue-2705642.jpg);
        background-position:center;
        background-size: cover;
        background-repeat: no-repeat;
        
    }
    

    &__artical-side{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;

        i{
          font-size: 2rem;
            color: #1d29cf;
            position: absolute;
            top: 1rem;
            right: 1rem;
            cursor: pointer;
        }
        h3{

            font-size: 2rem;
        }

        &-gallery{
            width: 90%;
            height: 10rem;
            display: flex;
            overflow: hidden;

            img{
                width: 33.3%;
                height: 100%;
            }
        }
        p{
            padding: 2rem;
            font-size: 1.5rem;
            line-height: 2rem
        }
    }
}
