html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'lato' , sans-serif;
  font-size: 62.5%;
}

body {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.navigation {
  height: 7rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__icon {
  width: 7rem;
  height: 7rem;
  margin: 2rem 0 0 2rem;
}

.list {
  margin-right: 1rem;
}

.list__active {
  background-color: #777777;
  color: #e0e0e0 !important;
  padding: 1rem 2rem;
  border-radius: 3rem;
}

.list__item {
  font-size: 2rem;
  font-weight: 300;
  color: #747474;
  list-style: none;
  margin-right: 1rem;
  display: inline-block;
  -webkit-transition: all .2s;
  transition: all .2s;
  padding: 2rem;
}

.list__item:not(:last-child):hover {
  background-color: #777777;
  color: #e0e0e0;
  padding: 1rem 2rem;
  border-radius: 3rem;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.list__link {
  text-decoration: none;
  text-transform: uppercase;
}

.header-part {
  position: absolute;
  top: 20%;
  left: 7%;
  width: 50%;
}

.header-part__main {
  font-size: 8rem;
}

.header-part__sub {
  font-family: 'Dancing Script', cursive;
  font-size: 6rem;
  display: block;
  color: #1d29cf;
  margin-left: 8rem;
}

.header-part p {
  font-size: 2rem;
  width: 70%;
  margin-top: -5rem;
}

.header-part button {
  background-color: #bbbab4;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 5rem;
  margin: .5rem 0 0 2rem;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
}

.header-part button a {
  color: #5c5858;
  font-weight: 500;
  font-family: sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
}

.header-part button:hover {
  -webkit-transform: scale(1.1) translateY(-2px);
          transform: scale(1.1) translateY(-2px);
  background-color: #777777;
}

.header-part button:hover a {
  color: #e0e0e0;
}

.header-part button:focus {
  outline: none;
}

.container-1 {
  position: absolute;
  top: 70%;
  right: 5%;
}

.container-2 {
  position: absolute;
  top: 70%;
  right: 23%;
}

.side-box {
  background-position: center;
  background-color: #cccccc63;
  -webkit-filter: bl;
          filter: bl;
  height: 17rem;
  width: 20rem;
  border-radius: 4rem;
  -webkit-box-shadow: 1rem 2rem 1rem rgba(0, 0, 0, 0.5);
          box-shadow: 1rem 2rem 1rem rgba(0, 0, 0, 0.5);
  position: relative;
}

.side-box__image-1 {
  background-image: url(../img/2.jpg);
}

.side-box__image-2 {
  background-image: url(../img/99.jpg);
}

.side-box__container {
  position: absolute;
  right: 2rem;
  height: 7rem;
  bottom: -1rem;
  width: 80%;
  border-radius: 1rem;
  background-color: #d8d5d5;
}

.side-box__container h3 {
  position: absolute;
  -webkit-transform: translateX(1.6rem) translateY(1.5rem);
          transform: translateX(1.6rem) translateY(1.5rem);
  font-size: 2.5rem;
  letter-spacing: 2px;
  color: #1d29cf;
  font-size: 2rem;
}

.side-box__first-el {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #a7a7a7;
  position: absolute;
  -webkit-transform: translateX(2rem) translateY(2rem);
          transform: translateX(2rem) translateY(2rem);
}

.side-box__second-el {
  font-size: 2.5rem;
  color: #1d29cf;
  position: absolute;
  bottom: 50%;
  right: 1rem;
}

.popup {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

.popup:target {
  visibility: visible;
  opacity: 1;
}

.popup__image-side {
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  background-image: url(../img/blue-2705642.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.popup__artical-side {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.popup__artical-side i {
  font-size: 2rem;
  color: #1d29cf;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.popup__artical-side h3 {
  font-size: 2rem;
}

.popup__artical-side-gallery {
  width: 90%;
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.popup__artical-side-gallery img {
  width: 33.3%;
  height: 100%;
}

.popup__artical-side p {
  padding: 2rem;
  font-size: 1.5rem;
  line-height: 2rem;
}
/*# sourceMappingURL=style.css.map */